<div>
  <h2>User</h2>
  <form #userForm="ngForm" (ngSubmit)="submitForm(userForm)">
    <div>
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        [(ngModel)]="user.name"
        required
      />
    </div>
    <div>
      <label for="email">email:</label>
      <input
        type="text"
        id="email"
        name="email"
        [(ngModel)]="user.email"
        required
      />
    </div>
    <div>
      <!-- invalid valid the inputs -->
      <button type="submit" [disabled]="userForm.invalid || !validateEmail">
        Submit
      </button>
    </div>
  </form>
</div>
